# Node.js
node_modules/
dist/
build/
*.log
.env*
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/
venv-docs/
venv-docs-temp/
env/
virtualenv/
dist/
*.egg-info/
.idea/
.vscode/

# Project Data
data/*.json
